@keyframes loadable-rotate {
    100% { transform: rotate(360deg); }
}

.loadable-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 12px;
}

.loadable-spinner {
    animation: loadable-rotate 1s linear infinite;
    transform-origin: 50% 50%;
}